section {
    width: 95%;
    margin: $margin-large 0;
    padding: $padding-large;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    &.no-bg {
        background-color: transparent;
    }
    &.half-width {
        max-width: 42rem;
    }
    p {
        padding: 0 2em;
    }
}

@include themify($themes) {
   section{
    background-color: themed("section-background-color");
   }
};